node_modules
.next
out
build
dist
.git
.gitignore
README.md
.env
.env*.local
.env.local
npm-debug.log*
yarn-debug.log*
.DS_Store
*.pem
.vscode
.idea
*.swp
coverage
.nyc_output
public/uploads/*
!public/uploads/.gitkeep
Dockerfile
docker-compose.yml
.dockerignore